<template>

  <div class="container">
  <header class="col-xs-12">
    <h1>My awesome website</h1>
  </header>

  <nav class="navbar col-xs-12">
    <ul class="nav nav-pills" role="menu">
      <li class="active" role="menuitem"><a href="#">Home</a></li>
      <li role="menuitem"><a href="#">Members</a></li>
      <li role="menuitem"><a href="#">Photos</a></li>
      <li role="menuitem"><a href="#">Pages</a></li>
      <li role="menuitem"><a href="#">Discussions</a></li>
      <li role="menuitem"><a href="#">More</a></li>
    </ul>
  </nav>
  <main class="col-sm-8" aria-labelledby="main-label">
    <h2 class="heading col-sm-12" id="main-label">${heading}</h2>

       <article class="row" repeat.for="article of articles">
         <div class="col-sm-9 no-pad-right no-pad-left">
           <a href="${article.url}" aria-describedby="desc-${$index}">${article.title}</a>
           <p id="desc-${$index}" aria-hidden="true">${article.description}</p>
         </div>
         <div class="col-sm-3 hidden-xs no-pad-right no-pad-left">
           <img src="${article.thumbnail}" alt="${article.description}" />
         </div>
       </article>

  </main>

  <aside class="col-sm-4">
     <compose view-model="./imageoftheweek.js" containerless></compose>
     <compose view-model="./quoteoftheweek.js" containerless></compose>
  </aside>
</div>


</template>
