<template>
  <h2>${heading}</h2>

   <article class="row" repeat.for="article of articles">
     <div class="col-sm-9 no-pad-right no-pad-left">
       <a href="${article.url}" aria-describedby="desc-{{$k}}">${article.title}</a>
       <p id="desc-{{$k}}" aria-hidden="true">${article.description}</p>
     </div>
     <div class="col-sm-3 hidden-xs no-pad-right no-pad-left">
       <img src="${article.image}" alt="${article.title}" />
     </div>
   </article>

</template>
