<template>
  <section class="sidebar image-of-the-week col-sm-12 col-xs-6">
        <h3>Image of the week</h3>
        <img src="http://smirnow.pl/finder/demo/public/img/familyguy.gif" alt="Image of the week" />
        <a href="#" class="btn btn-primary" aria-label="See more images">See more</a>
  </section>
</template>
